
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 90px;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  overflow-y: auto;
  box-sizing: border-box;
  overflow-x: hidden;
}

.next_due_task {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 20px;
}

.next_due_task h4 {
  margin: 0;
  font-size: 20px;
  color: var(--text);
  font-weight: 600;
}

.next_due_task p {
  margin: 0;
  color: var(--text);
  font-size: 16px;
}


.utilities_container {
  margin-top: 20px;
  width: 100%;
  max-width: 1000px;
  background-color: var(--accent);
  border-radius: 15px;
  box-shadow: var(--shadow);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px;
  gap: 20px;
}

.utility_item {
  text-align: center;
}

.utility_item img {
  width: 70px;
  height: 70px;
}

.utility_item p {
  margin: 0;
  color: #fff;
  font-size: 0.9rem;
}

.calendar_timer {
  display: flex;
  grid-column: span 2;
  justify-content: space-between;
  /* gap: 50px; */
  padding: 0 80px 0 80px;
}

.calculator {
  display: flex;
  grid-column: span 2;
  justify-content: center;
  /* padding-bottom: 20px; */
}



/* Media Queries */
@media (max-width: 768px) {
    .next_due_task h4 {
      font-size: 18px;
    }
    .next_due_task p {
      font-size: 13px;
    }
    .utilities_container {
      padding: 20px;
      gap: 30px;
    }
    .utility_item img {
      width: 60px;
      height: 60px;
    }
    .utility_item p {
      font-size: 0.8rem;
    }
    .calendar_timer{
      gap: 50px;
      padding: 0 10px 0 10px;
    }

}

