

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 90px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.tasks_container {
    position: relative;
    margin-top: 15px;
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%; /* Adjust width for responsiveness */
    max-width: 1000px;
    max-height: 390px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 20px;
    scroll-behavior: smooth;
}

.task_item {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 10px;
    max-height: 100%;
    height: 100px; /* Allow height to adjust dynamically */
    width: 100%;
    background-color: var(--primary);
    border-radius: 5px;
    box-shadow: var(--shadow);
    position: relative;
    transition: transform 0.3s ease, opacity 0.3s ease;
    gap: 15px;
    cursor: pointer;
    perspective: 1000px;
}

.task_item_inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out;
}

.task_item_inner.flipped {
    transform: rotateY(180deg);
}


.task_item_side {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Hide the opposite side */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-sizing: border-box;
}

.task_item_side.front {
    background-color: var(--primary); /* Styling for the front side */
    z-index: 2;
    padding-right: 15px;
}

.task_item_side.back {
    transform: rotateY(180deg); /* Position the back initially */
    z-index: 1;
    display: inline;
    align-self: center;
    height: 100%;
    padding: 10px;
}

.task_item_side.back p {
    font-weight: bold;
    font-size: 0.9rem;
    color: var(--text);
}

.task_item_side.back span {
    font-size: 0.9rem;
    color: var(--text);
    font-weight: 400;
}

.task_item .logo {
    width: 20px;
    display: flex;
    align-self: center;
    margin-left: 10px;
    margin-right: 20px;
    transform: translateY(15%);
}

.task_item .logo img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.task_item .task {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    flex: 1;
}

.task_item .task .description,
.task_item .task .status {
    display: none;
}


.task_item .task p {
    margin: 0;
    font-size: 0.9rem;
    color: var(--text);
    font-weight: bold;
}

.task_item .task .topic span,
.task_item .task .description span,
.task_item .task .title span,
.task_item .task .status span,
.task_item .task .due_date span {
    margin-left: 5px;
    font-weight: 400;
}

.task_item .next_due_check {
    display: flex;
    padding-right: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.task_item .next_due_check i {
    font-size: 35px !important;
    color: var(--secondary);
    transition: transform 0.3s ease, color 0.3s ease;
}

.next_due_check .bx.checked {
    color: var(--primary);
    transform: scale(1.2) rotate(360deg);
}

.next_due_check .bx.hover {
    transform: scale(1.1);
}

.task_item.removed {
    transform: translateX(-100%);
    opacity: 0;
}

/*  checkbox animation */


:root {
    --size: 30;
    --line-width: 3;
    --check-green: #00aa1c;
  }
  
  .animation_container {
    display: inline-block;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
  
  /* hide default radio button */
  .animation_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkbox {
    position: absolute;
    top: 0;
    height: calc(var(--size) * 1px);
    width: calc(var(--size) * 1px);
    cursor: pointer;
    color: var(--secondary);
    border: calc(var(--line-width) * 1px) solid;
    border-radius: 50%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    transform: translate(-50%, -50%);
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    width: calc(var(--size) * 1px);
    height: calc(var(--size) * 1px);
    cursor: pointer;
    transform: translate(-50%, -50%);
  }
  
  .checkmark::before {
    position: absolute;
    left: 0;
    bottom: calc(var(--size) / 2.5 * 1px);
    height: calc(var(--line-width) * 1px);
    width: 0%;
    background-color: var(--check-green);
    content: "";
    transform: translateX(0px) rotate(45deg);
    transform-origin: left bottom;
    opacity: 1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    transition-delay: 0.5s;
  }
  
  .checkmark::after {
    position: absolute;
    left: calc(var(--size) / 4 * 1px);
    bottom: calc(var(--size) / 23 * 1px);
    height: calc(var(--line-width) * 1px);
    width: 0%;
    background-color: var(--check-green);
    content: "";
    transform: translateX(calc(var(--size) / 8 * 1px)) rotate(-45deg);
    transform-origin: left bottom;
    opacity: 1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    transition-delay: 1s;
  }
  
  .animation_container input:checked ~ .checkmark::before {
    opacity: 1;
    width: 50%;
  }
  
  .animation_container input:checked ~ .checkmark::after {
    opacity: 1;
    width: 100%;
  }
  
  .animation_container input:checked ~ .checkbox {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
    pointer-events: none;
  }
  
  .animation_container input:not(:checked) ~ .checkmark::before {
    transition-delay: 0.5s;
  }
  
  .animation_container input:not(:checked) ~ .checkmark::after {
    transition-delay: 0s;
  }
  
  .animation_container input:not(:checked) ~ .checkbox {
    transition-delay: 1s;
  }
  


/* Media Queries */
@media (max-width: 768px) {
    .tasks_container {
        width: 100%; /* Expand to fit the screen */
        max-width: 100%;
        padding: 0 10px;
    }

    .task_item {
        padding: 10px 5px;
    }

    .task_item .next_due_check i {
        font-size: 35px; /* Reduce icon size */
    }
}

@media (max-width: 480px) {
    .tasks_container {
        max-height: 300px; /* Adjust height for very small screens */
    }
    .task_item .task {
        gap:0px;
    }

    .task_item .task p {
        font-size: 0.8rem ;
    }

    .task_item .logo img {
        width: 40px;
        height: 40px; /* Adjust logo size */
    }

    .task_item .next_due_check i {
        font-size: 30px;
    }
    .task_item_side.back {
       height: 100%;
    }
    .task_item_side.back p,
    .task_item_side.back span{
        font-size: 0.8rem;
    }
}



